.one
{
	width:30%;
	float: left;
	margin-left: 5px;
	padding: 10px;
	background-color: darkmagenta;
	
}

.two
{
	width:30%;
	float: left;
	margin-left: 5px;
	padding: 10px;
    background-color: mediumpurple;
    
}

.three
{
	width:30%;
	float: left;
	margin-left: 15px;
	padding: 10px;
	background-color: purple;
    
}
img
{
	border-radius: 5%;
	
}